.hello {
    color: red;
  }

.cell { /*gamer class*/
    height: 30px;
    width: 30px;
    border: 1px solid black ;
    /*border-style: solid;*/
    cursor: pointer;
}

.cell2 { /*pc class*/
  height: 30px;
  width: 30px;
  border: 1px solid blue ;
  /*border-style: solid;*/
  cursor: pointer;
}

table{
  border-collapse: collapse;
}