.hello {
    color: red;
  }

.cell { /*gamer class*/
    height: 30px;
    width: 30px;
    border: 1px solid black ;
    /*border-style: solid;*/
    cursor: pointer;
}
.cellrow { /*gamer class row name*/
  height: 30px;
  width: 30px;
  border: 1px solid black ;
  /*border-style: solid;*/
  cursor: pointer;
}
.cellcol { /*gamer class column name*/
  height: 30px;
  width: 30px;
  border: 1px solid black ;
  /*border-style: solid;*/
  cursor: pointer;
}

.cell2 { /*pc class*/
  height: 30px;
  width: 30px;
  border: 1px solid blue ;
  cursor: pointer;
}
.cell2row { /*pc class row name */
  height: 30px;
  width: 30px;
  /*border: 1px solid blue ;*/
  cursor: pointer;
}
.cell2col { /*pc class col name*/
  height: 30px;
  width: 30px;
  /*border: 1px solid blue ;*/
  cursor: pointer;
}

.cell3 { /*pc class attack board*/
  height: 30px;
  width: 30px;
  border: 1px solid red;
  cursor: pointer;
}

table{
  border-collapse: collapse;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  display: none;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}