
.cell { /*gamer class*/
    height: 30px;
    width: 30px;
    border: 1px solid black ;
    /*border-style: solid;*/
    cursor: pointer;
}
.cellrow { /*gamer class row name*/
  height: 30px;
  width: 30px;
  border: 1px solid black ;
  /*border-style: solid;*/
  cursor: pointer;
}
.cellcol { /*gamer class column name*/
  height: 30px;
  width: 30px;
  border: 1px solid black ;
  /*border-style: solid;*/
  cursor: pointer;
}

.cell2 { /*pc class*/
  height: 30px;
  width: 30px;
  border: 1px solid blue ;
  cursor: pointer;
}
.cell2row { /*pc class row name */
  height: 30px;
  width: 30px;
  /*border: 1px solid blue ;*/
  cursor: pointer;
}
.cell2col { /*pc class col name*/
  height: 30px;
  width: 30px;
  /*border: 1px solid blue ;*/
  cursor: pointer;
}

.cell3 { /*pc class attack board*/
  height: 30px;
  width: 30px;
  border: 1px solid red;
  cursor: pointer;
}

table{
  border-collapse: collapse;
}

.container {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  background-color: white;
  margin: 10px;
}
.container2 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.centered {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 320px;
  height: 260px;
  position: absolute;
  transition: 300ms;
  z-index: 1;
  visibility: hidden;  /* visible */ 
  backdrop-filter: blur(2px);
  font-size: 60px;
  font-weight: bolder;
  color: rgb(54, 47, 4);
}